
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
}

.tabsContainer {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
    margin-bottom: 0;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background: #f9f9f9;
    border: 2px solid #e0e0e0;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
    font-size: 16px;
    color: #555;
    z-index: 1;
}

.tab:hover {
    background: #e0e0e0;
}

.tab.active {
    background: #ffffff;
    border-color: #e0e0e0 #e0e0e0 white #e0e0e0;
    z-index: 2;
}

.tabContent {
    background: #ffffff;
    padding: 15px;
    border: 2px solid #e0e0e0;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin-top: -2px;
}

.attendees_list_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}